<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
    <title>{% block title %}Test Application{% endblock %}</title>
    <base href="{{ base }}" target="_blank">
    <link rel="stylesheet" href="{{ base }}/App/Core/Resources/Public/dist/app.css">
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Core</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
{% endblock %}

<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
<script src="{{ base }}/App/Core/Resources/Public/dist/app.js"></script>
</body>
</html>